# C++ build files
spellchecker/build/
spellchecker/bin/
spellchecker/*.o
spellchecker/*.out
spellchecker/*.exe
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# OS/IDE/editor
.DS_Store
*.swp
.vscode/
.idea/

# Python virtual environments
finetuning/venv/
finetuning/.env
